@CHARSET "ISO-8859-1";

input[type=button] {
	display: block;
	vertical-align: middle;
}

body {
	background: silver;
	font-family: TIMES;
	font-style: oblique;
}

.filebtn {
	font-family: TIMES;
	font-size: 10px;
	font-style: oblique;
	cursor: pointer;
}

div.logo {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background: black;
	position: fixed;
	z-index: 1;
	top: -1%;
}

.pageLinks {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	position: fixed;
	z-index: 1;
	top: 15%;
}

.pageLinkItem {
	width: 10%;
	float: right;
}

.mbody {
	position: absolute;
	top: 20%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80%;
	margin-left: 10%;
}

.regLeftPane {
	position: absolute;
	float: left;
	top: 20%;
	width: 50%;
	height: 80%;
}

.regRightPane {
	position: absolute;
	float: right;
	top: 20%;
	width: 50%;
	height: 80%;
	
}

.regLeft {
	width: 25%;
	float: left;
	text-align: center;
}

.regRight {
	width: 75%;
	float: left;
}


.lpane {
	width: 30%;
	float: left;
}

.rpane {
	width: 70%;
	height: 90%;
	overflow: auto;
	float: left;
}

.frnditem {
	height: 19%;
	width: 100%;
	margin-bottom: 1%;
}

.imgitem {
	width: 20%;
	float: left;
	height: 100%;
	display: table;
}

.frnddtl {
	width: 80%;
	float: left;
	height: 100%;
}

.frndnamesec {
	width: 50%;
	float: left;
	height: 100%;
	display: table;
}

.frndbuttonsec {
	width: 25%;
	float: left;
	height: 100%;
	display: table;
}

.inditem {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.button {
	font-family: TIMES;
	font-size: 15px;
	font-style: oblique;
	font-weight: bold;
	top: 25%;
	position: relative;
}

.center {
	width: 50%;
	height: 50%;
	padding-left: 20%;
	padding-top: 15%;
}

.commonelement {
	text-align: left;
	height: 30px;
	width: 50%;
	float: left;
	margin-top: 10px;
	vertical-align: middle;
}

.leftelement {
	margin-top: 10px;
	height: 30px;
	width: 40%;
	float: left;
	font-style: oblique;
	font-size: 15px;
	text-align: right;
	line-height: 30px;
	vertical-align: middle;
}

.rightonlyelement {
	text-align: left;
	width: 50%;
	margin-top: 10px; margin-right : 10%;
	margin-left: 40%;
	height: 30px;
	float: left;
	margin-right: 10%;
}

.leftonlyelement {
	text-align: left;
	width: 40%;
	padding-right: 30%;
	padding-left: 30%;
}

.heading {
	width: 100%;
	text-align: center;
}

.Welcomeheading {
	width: 100%;
	text-align: center;
	margin-top: -5%;
}

.photocolumn {
	padding: 1px;
	background: black;
	width: 150px;
	height: 150px;
	float: left;
}

.listbody {
	width: 70%;
	float: left;
	text-align: left;
}

.listitem {
	display: list-item;
	padding-top: 3%;
	padding-bottom: 3%;
	list-style-type: square;
	margin-left: 40%;
}

a:link,a:VISITED,a:HOVER,a:ACTIVE {
	color: black;
}

.PostPageLeftPane {
	width: 10%;
	position: fixed;
	float: left;
	text-align: center;
}

.WelcomePageLeftPane {
	width: 20%;
	float: left;
	text-align: center;
	margin-top: 2%;
	margin-left: 5%;
}

RegistrationPageLeftPane {
	width: 30%;
	float: left;
	text-align: center;
	margin-top: 2%;
	margin-left: 5%;
}

.RegistrationPageRightPane {
	width: 70%;
	float: left;
	text-align: center;
	margin-top: 2%;
	margin-left: 5%;
}

.PostPageRightPane {
	width: 80%;
	float: left;
	position: relative;
	left: 20%;
}

.PostPagePostItem {
	width: 100%;
	overflow: auto;
	height: 25%;
	min-height: 100px;
	max-height: 300px;
}

.PostPageResponseItem {
	width: 100%;
	margin-bottom: 2%;
	}

.PostPageImageItem {
	width: 20%;
	float: left;
	display: table;
}

.PostPageResponseDetail {
	width: 80%;
	float: left;
}

.PostPageNewResponseDetail {
	margin-top: 2%;
	margin-bottom: 3%;
	width: 80%;
	float: left;
	height: 10%;
	width: 80%;
}

.PostPageResponseTextArea {
	resize: none;
	border: none;
	outline: none;
	width: 100%;
	font-size: 10px;
	font-style: oblique;
	min-height: 80px;
}

.PostPageNewResponseTextArea {
	resize: none;
	border: none;
	overflow: auto;
	outline: none;
	width: 99.3%;
	font-size: 10px;
	font-style: oblique;
	font-size: 10px;
	background: #DCDCDC;
	min-height: 70px;
}

.PostPageResponseLeftAction {
	width: 90%;
	float: left;
	text-align: right;
}

.PostPageResponseRightAction {
	width: 10%;
	float: left;
	text-align: right;
}

.PostPageOneAction {
	width: 100%;
	text-align: right;
}

.PostPageResponseButton {
	background: none;
	border: none;
}

.PostPageLinkText {
	color: black;
	text-decoration: underline;
	font-family: TIMES;
	font-size: 15px;
	cursor: pointer;
	font-style: oblique;
}

img {
	padding: 1px;
	background: black;
}

input[type=button] {
	font-family: TIMES;
	font-style: oblique;
}

.mainbody {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	position: absolute;
	top: 20%;
}

div.frndlogo {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px;
	background: black;
}

.PostPageResponseHeader {
	font-size: 10px;
	font-weight: bold;
}