<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Socialize</display-name>
	<servlet>
		<servlet-name>InitializorServlet</servlet-name>
		<servlet-class>servlets.InitializorServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginValidation</servlet-name>
		<servlet-class>servlets.LoginValidation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>servlets.LogOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>servlets.UserRegistration</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FriendAction</servlet-name>
		<servlet-class>servlets.FriendAction</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>servlets.FileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostServlet</servlet-name>
		<servlet-class>servlets.PostServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/UserRegistration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendAction</servlet-name>
		<url-pattern>/FriendAction/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/File/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostServlet</servlet-name>
		<url-pattern>/PostAction/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginValidation</servlet-name>
		<url-pattern>/LoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>src.listeners.ShutdownListener</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>LoginPage.jsp</welcome-file>
	</welcome-file-list>
</web-app>